<nav id="nav">
  <ul>
    <li><a href="/about/" title="General info">Sobre</a></li>
    <li><a href="/news/" title="News and annoucements">Notícias</a></li>
    <!--
    <li><a href="/schedule/" title="Sessions">Cronograma</a></li>
    <li><a href="/workshops/" title="Training workshops">Oficinas</a></li>
    <li><a href="/faq/" title="Frequently asked questions">FAQ</a></li>
    -->
    <li><a href="/contact/" title="Contact us">Contato</a></li>
  </ul>
</nav>

<div class="inner">

  <div id="branding">
    <a id="logo" href="/" title="OSINT Village">
      <!--
      <script>
        var gender = (Math.floor(Math.random() * 2) == 1) ? 'his' : 'hers';
        var format = 'png';
        if (Modernizr.svg) {format = 'svg'}
        document.write('<img src="/img/logo-'+gender+'.'+format+'" alt="DrupalCamp Austin">');
      </script>
      -->
      <noscript><img src="/img/icone.png" alt="OSINT Village"></noscript>
    </a>
  </div>

  <div id="cta-1">
    <a class="button" href="/schedule/">Ver cronograma</a>
    <p></p>
  </div>

  <div id="cta-2">
    <a class="button" href="/about" title="Ler sobre OSINT Village">Leia mais</a>
  </div>

</div><!-- .inner -->
